@CHARSET "ISO-8859-1";
body{
background-color:#FFD683;
background-image:url(images/bg.gif);
background-position:top left;
background-repeat:repeat-x;
margin:0px;
padding:0px;
}

#main{
width:800px;
height:auto;
margin:auto;
}

#header
{
width:auto;
height:220px;
background-color:#FFD683;
}

#content
{
width:auto;
min-height:500px;
height:auto;
background-color:#FFEFC6;
}
#left
{
width:580px;
min-height:500px;
height:auto;
float:left;
}
#right
{
width:200px;
height:auto;
min-height:500px;
float:right;
}
#footer {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFD2B3;
	text-align:center;
	line-height:20px;
	width:auto;
	height:100px;
	background:url(images/footer.jpg);
	padding-top:15px;
	
}
#footer a { color:#FFD2B3; text-decoration:none; }
#footer a:hover { color:#ffffff; text-decoration:none; }

.footermenu
{
padding:5px 10px 5px 10px;
}

#banner{
width:auto;
height:180px;
background:url(images/banner.jpg);
}



.border {
	border: #C5B488 1px solid;
}
.body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#C8884A;
	text-align:justify;
	padding-top:2px;
	padding-left:6px;
	padding-right:4px;
}
.body a{ color:#764525; text-decoration:none; }
.body a:hover{ color:#B66C33; text-decoration:none; }
.menu {

	font-family:Tahoma, Verdana;
	font-size:11px;
	color:#6F3A15;
	text-align:center;
	font-weight:bold;
	margin:3px auto;
	width:799px;
	height:30px;
	background:url(images/menu.jpg);
	padding-top:10px; 
	
	
}
.menu a { color:#6F3A15; text-decoration:none; }
.menu a:hover { color:#ffffff; text-decoration:none; }
.menuitem
{
padding-left:40px;
padding-top:10px;
}

