@CHARSET "ISO-8859-1";

*{
margin:0px;
padding:0px;
}

body{
background-color:#FFD683;
}

#main{
width:800px;
height:100%;
margin:auto;

}

#header
{
width:auto;
height:220px;
background-color:#FFD683;
}

#content
{
width:auto;
min-height:600px;
height:800px;
background-color:#FFEFC6;
}
#left
{
width:580px;
min-height:500px;
height:auto;
float:left;
margin:20px 20px 10px 50px;
padding:20px 10px 10px 50px;


}


#right
{
width:150px;
height:auto;
min-height:500px;
float:right;

}
#footer {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:brown;
	text-align:center;
	line-height:20px;
	width:800px;
	height:100px;
	background:url(images/footer.jpg);
	padding-top:15px;
	
	
}
#footer a { color:#FFD2B3; text-decoration:none; }
#footer a:hover { color:#ffffff; text-decoration:none; }

#footermenumain
{
	width:700px;
	height:80px;
	margin-left:140px;
	padding:10px;
}

.footermenu
{
padding:10px;
}

#banner{
width:auto;
height:180px;
background:url(images/banner.jpg);
}



.border {
	border: #C5B488 1px solid;
}

.menu {

	font-family:Tahoma, Verdana;
	font-size:11px;
	color:#6F3A15;
	text-align:center;
	font-weight:bold;
	margin:3px auto;
	width:799px;
	height:30px;
	background:url(images/menu.jpg);
	padding-top:10px; 
	
	
}
.menu a { color:#6F3A15; text-decoration:none; }
.menu a:hover { color:#ffffff; text-decoration:none; }
.menuitem
{
padding-left:40px;
padding-top:10px;
}

.form{
	width:600px;
	height:auto;
	border:solid #6F3A15 4px;
	box-shadow: 5px 5px 5px #888;
	background:#EEDC82;
	
	
}
.error
{
color:red;
font-family:Tahoma, Verdana;
font-size:11px;
}

input{
	width:190px;
	height:25px;
	margin-top:10px;
}

textarea{
	width:190px;
	margin-top:10px;
}

select{
	width:190px;
	height:25px;
	margin-top:10px;
}

.radio
{
	width:20px;
}



#logout{
	float:right;
	padding:20px;
}

.text
{
	font-family:Aerial;
	font-size:17px;
	color:#6F3A15;
	text-align:justify;
	padding:5px;
	
}
.labels
{
	font-family:Tahoma, Verdana;
	font-size:13px;
	color:#6F3A15;
	font-weight:bold;
	
}

form{
	border:solid #6F3A15 4px;
	box-shadow: 5px 5px 5px #888;
	background:#EEDC82;
}

h1{
	font-family:Aerial;
	color:#8B4513;
}

.box
{
	width:90%;
	height:90%
	border:solid #6F3A15 4px;
	box-shadow: 5px 5px 5px #888;
	background:#EEDC82;
}

.tiny
{
	font-family:Tahoma, Verdana;
	font-size:10px;
	color:#6F3A15;
	font-weight:bold;
	float:right;
}